.CardDashboard {
    border-radius: 45px;
    text-align: center;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    margin-bottom: 50px;
}

/* Ajout d’un espacement uniforme */
.dashboard-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 20px; 
    position: relative;
}

/* Gestion du responsive */
@media (max-width: 768px) {
    .dashboard-container {
        padding-left: 0;
        justify-content: center;
    }

    .CardDashboard {
        width: 90%;
        min-height: 150px;
    }
}
