.sidebar {
  position: fixed; /* Reste fixe pendant le défilement */
  top: 0;
  left: 0;
  width: 155px; /* Largeur constante */
  height: 100vh; /* Hauteur égale à celle de la fenêtre */
  background-color: #333; /* Couleur de fond sombre */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 10; /* Priorité visuelle au-dessus des cartes */
}
ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

