.nouveautes {
    padding: 50px 20px;
  }
  .items {
    display: flex;
    justify-content: space-around;
  }
  .item {
    text-align: center;
    width: 30%;
  }
  .item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

.nouveautes h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .title h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }